@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* Containe */
.container {
  background: url(../images/retro-living-room-interior-design.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* -------------------------------------- */
/* ----------Section Navbar --------------*/
/* -------------------------------------- */
.section-navbar {
  padding: 3.4rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Logo */
.logo-box {
  align-self: flex-end;
}

.logo-box img {
  height: 6.4rem;
}

/* Nav TEXT */
.navbar-text--box {
  display: flex;
  gap: 6.8rem;
  border-bottom: 3px solid #fff;
  padding-bottom: 3.6rem;
}

/* Nav List */
.nav-list {
  display: flex;
  align-items: center;
  gap: 5.6rem;
  list-style: none;
}

.nav-list--items {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
}

/* Nav Contact */
.nav-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-text .text,
.contact-text .number {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Section Header */

.section-header {
  padding: 7.8rem 6.8rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: flex-start;
}

/* ////////// */
/* Header Top */
/* ////////// */
.header-top {
  display: flex;
  align-items: center;
  gap: 8.8rem;
}

/* Header Heading */
.header-heading {
  font-size: 6.8rem;
  font-weight: 600;
  padding-right: 10rem;
}

/* TOP BLOCK */
.header-top-block {
  height: 24rem;
  width: 50rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.top-box {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.icon-top {
  align-self: flex-start;
  color: #000;
  background-color: #fff;
  padding: 0.6rem 3.6rem;
  border-radius: 5rem;
}

.top-text {
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 600;
}

.line-top {
  height: 7rem;
  padding: 0.1rem;
  background-color: #fff;
  position: absolute;
  bottom: 2rem;
  right: 11rem;
}

.circle-top {
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 10rem;
}

/* ///////////// */
/* Header Bottom */
/* //////////// */

.header-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30rem;
}

/* Header Button */
.header-button .btn-header {
  width: 60%;
  display: block;
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.6rem 2.8rem;
  border-radius: 5rem;
  cursor: pointer;
}

/* BOTTOM BLOCK */
.header-bottom-block {
  width: 40rem;
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.bottom-box {
  width: 65%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.icon-bottom {
  align-self: flex-start;
  color: #000;
  background-color: #fff;
  padding: 0.6rem 3.6rem;
  border-radius: 5rem;
}

.bottom-text {
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 600;
}

.line-bottom {
  height: 7rem;
  padding: 0.1rem;
  background-color: #fff;
  transform: rotate(90deg);
  position: absolute;
  bottom: 5rem;
  right: 10.5rem;
}

.circle-bottom {
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 7.5rem;
  right: 5.2rem;
}

/* ----------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 1346px) {
  .top-box {
    width: 100%;
  }
}

@media screen and (max-width: 1270px) {
  html {
    font-size: 54.5%;
  }

  .section-navbar {
    padding: 3.6rem 4.6rem;
  }
  .section-header {
    padding: 12.8rem 6.8rem;
  }
}

@media screen and (max-width: 1105px) {
  html {
    font-size: 50.5%;
  }

  .section-navbar {
    padding: 4.6rem;
  }

  .section-header {
    padding: 16.8rem 6.8rem;
  }
}

@media screen and (max-width: 1018px) {
  .section-navbar {
    border-bottom: 3px solid #fff;
    padding: 2.4rem 3.6rem;
  }

  .logo-box {
    align-self: center;
  }

  .navbar-text--box {
    border-bottom: none;
    padding-bottom: 0;
  }

  .navbar-text--box .nav-list .nav-list--items:nth-child(2),
  .navbar-text--box .nav-list .nav-list--items:nth-child(4) {
    display: none;
  }

  .header-top {
    gap: 2.4rem;
  }

  .header-heading {
    padding: 0;
  }

  .header-bottom {
    gap: 16rem;
  }

  .header-button .btn-header {
    width: 80%;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 1.6rem 2.8rem;
    border-radius: 5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .logo-box img {
    height: 4rem;
  }

  .navbar-text--box {
    gap: 2.8rem;
  }

  .nav-list {
    gap: 2.4rem;
  }

  .section-header {
    padding: 16.8rem 2.4rem;
  }

  .header-top {
    gap: 0;
  }

  .header-heading {
    font-size: 4.8rem;
  }

  .top-box {
    align-self: flex-end;
    width: 80%;
  }

  .line-top {
    bottom: -1.8rem;
  }

  .circle-top {
    bottom: -2rem;
  }

  .top-text,
  .bottom-text {
    font-size: 1.8rem;
  }

  .header-bottom {
    gap: 6rem;
  }

  .header-button .btn-header {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .section-header {
    padding: 12rem 3rem;
    gap: 0;
  }

  .section-navbar .navbar-text--box .nav-list {
    display: none;
  }

  .header-top {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 2.4rem;
  }

  .header-heading {
    font-size: 3rem;
  }

  .header-top-block {
    width: 45rem;
    margin: 0 auto;
  }

  .top-box {
    width: 70%;
    margin: 0 auto;
  }

  .top-box i {
    align-self: center;
  }

  .line-top {
    transform: rotate(90deg);
    right: 41.5rem;
    bottom: 7.5rem;
    height: 6.4rem;
  }

  .circle-top {
    left: -1.6rem;
    bottom: 9.6rem;
  }

  .header-bottom {
    width: 100%;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0;
    gap: 8.6rem;
  }

  .header-button {
    width: 75%;
    order: 2;
  }

  .header-button .btn-header {
    width: 100%;
  }

  .header-bottom-block {
    width: 40rem;
  }

  .bottom-box {
    width: 75%;
    text-align: center;
    padding: 2.4rem 1.2rem;
  }

  .bottom-box i {
    align-self: center;
  }

  .line-bottom {
    right: 7.6rem;
    height: 5rem;
  }

  .circle-bottom {
    bottom: 6.5rem;
    right: 3.4rem;
  }
}

@media screen {
}
