@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* ------------------------------------- */
/* --------- SECTION: HEADER ----------- */
/* ------------------------------------- */

.section-header {
  background: url(../assets/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* NAVBAR */
.navbar {
  padding: 2.8rem 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
}

.nav-logo {
  height: 3.6rem;
}

.nav-list {
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4.8rem;
}

.nav-list--item {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.btn-nav {
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 3.6rem;
  background-color: #2895d8;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.navbar .menu-icon {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}

/* HERO */

.hero {
  padding: 5.8rem 12rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  margin-top: 4.8rem;
}

.hero-heading {
  margin-top: 4.8rem;
  font-size: 5.4rem;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}

.hero-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

.btn-hero {
  display: block;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #2895d8;
  color: #fff;
  border-radius: 0.5rem;
}

.hero-imagebox {
  align-self: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-imagebox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------------------------------- */
/* ----------- SECTION: OS ------------- */
/* ------------------------------------- */

.section-os {
  padding: 4.8rem 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.8rem;
}

.os-text {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.os-heading {
  font-size: 2.8rem;
  font-weight: 700;
}

.os-info {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.os-info > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.os-sub--heading {
  font-size: 2rem;
}

.os-description {
  font-size: 1.4rem;
}

/* ------------------------------------- */
/* -------- SECTION: FEATURES ---------- */
/* ------------------------------------- */

.section-features {
  padding: 6.8rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 7.6rem;
}

.features-heading {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  padding: 0 30rem;
}

.features-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
}

.box {
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  align-items: stretch;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem #33333356;
  cursor: pointer;
  transition: all 0.3s;
}

.box:hover {
  transform: translateY(-1rem);
}

.box-img {
  align-self: center;
  height: 5rem;
  width: 5rem;
  padding: 4.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-box .box:nth-child(1) .box-img {
  background-color: #f9eaed;
}
.features-box .box:nth-child(2) .box-img {
  background-color: #fbf0ee;
}
.features-box .box:nth-child(3) .box-img {
  background-color: #e9f4f6;
}
.features-box .box:nth-child(4) .box-img {
  background-color: #f2e7f5;
}

.box-icon {
  height: 5rem;
  width: 5rem;
}

.box-text {
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
}

.features-box .box:first-child .box-text {
  background-color: #6429b7;
  color: #fff;
  border-radius: 2rem;
}

.box-heading {
  font-size: 1.8rem;
  font-weight: 700;
}

.box-description {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 3rem;
}

/* ------------------- MEDIA QUERIS ------------------   */
@media screen and (max-width: 1240px) {
  html {
    font-size: 58.5%;
  }

  .section-header .navbar {
    padding: 2.8rem 6.4rem;
  }

  .section-header .hero {
    padding: 5.8rem 6.4rem;
  }

  .section-os {
    padding: 4.8rem 6.4rem;
  }

  .section-features {
    padding: 6.8rem 6.4rem;
  }
}

@media screen and (max-width: 1038px) {
  html {
    font-size: 55.5%;
  }
}

@media screen and (max-width: 890px) {
  html {
    font-size: 48.5%;
  }

  .hero .hero-textbox {
    margin-top: 1.6rem;
  }

  .navbar .menu-icon {
    display: block;
  }

  .navbar .nav-list {
    display: none;
  }

  .navbar .btn-nav {
    display: none;
  }
}

@media screen and (max-width: 772px) {
  html {
    font-size: 45.5%;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .hero .hero-textbox {
    padding: 0 2.4rem;
    align-items: center;
    text-align: center;
  }

  .hero-imagebox {
    height: 50%;
    width: 50%;
  }

  .section-features .features-heading {
    padding: 0 12rem;
  }

  .section-features .features-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .section-header .navbar {
    padding: 2.8rem 2.4rem;
  }

  .section-header .hero {
    padding: 5.8rem 0;
  }

  .hero-imagebox {
    height: 75%;
    width: 75%;
  }

  .section-os {
    grid-template-columns: 1fr;
  }

  .section-features .features-heading {
    padding: 0;
  }

  .section-features .features-box {
    grid-template-columns: 1fr;
  }

  .box {
    width: 85%;
    margin: 0 auto;
  }
}
